<div data-role="page">
  <div data-role="header">
    <h3><%=h @folderName %></h3>
  </div>
  <div data-role="content">
    <div data-role="fieldcontain">
      <fieldset data-role="controlgroup">
        <%
          i = 0
          for filename in @picturesInFolder
            i += 1
        %>
          <input type="checkbox" name="checkbox-<%=h i %>" id="checkbox-<%=h i %>" class="custom" />
          <label for="checkbox-<%=h i %>"><img style="max-width: 100%" class="no-thumb" src="<%=h filename %>"></label>
        <% end %>
      </fieldset>
    </div>
    <a href="#" data-role="button"><%=h Localization::Views[:upload] %></a>
  </div>
</div>