<div data-role="page" id="submit-order-page">
  <div data-role="header">
    <h3><%=h Localization::Views[:submit_order] %></h3>
  </div>
  <div data-role="content">
    <div><%=h Localization::Views[:submission_title] % @order['pictureIds'].length %></div>

    <input type="text" class="store-search" name="location" />

    <div class="stores" data-role="fieldcontain">
      <form action="#" onsubmit="return false;">
        <fieldset data-role="controlgroup" class="id_stores_fieldset">
        </fieldset>
      </form>
    </div>

    <div class="credentials">
      <form action="#" onsubmit="return false;">
        <table>
          <tr>
            <td><label for="username"><%=h Localization::Views[:username] %>:</label></td>
            <td><input type="text" name="username" id="username" /></td>
          </tr>
          <tr>
            <td><label for="password"><%=h Localization::Views[:password] %>:</label></td>
            <td><input type="password" name="password" id="password" /></td>
          </tr>
        </table>
        <div>
          <input data-inline="true" data-mini="true" type="checkbox" name="confirmation" id="confirmation" /> <label for="confirmation"><%=h Localization::Views[:confirm_order] %></label>
        </div>
        <div>
          <a href="#" data-role="button" class="id_submit ui-disabled"><%=h Localization::Views[:submit] %></a>
        </div>
      </form>
    </div>
  </div>

  <script type="text/javascript">
      function escapeHtml(s)
      {
          return s.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;")
      }

      function onLocationChanged(value)
      {
          $.get("<%=h url_for(:action => :location_changed, :query => {:loc => 'REPLACEMEREPLACEME'}) %>".replace("REPLACEMEREPLACEME", value))
      }

      function setLocation(loc)
      {
          $("input.store-search").val(loc)
      }

      function showStores(stores)
      {
          // jQuery Mobile recommends not to use IDs because they might get duplicated
          var fieldset = $("div.ui-page-active .id_stores_fieldset")

          fieldset.html("")

          if(stores)
          {
            var html = ""
            for(var i = 0; i < stores.length && i < 5; ++i)
            {
                var store = stores[i]
                html += '<input type="radio" name="store" id="store-' + store.id + '" value="' + store.id + '"/>'
                html += '<label for="store-' + store.id + '">' + escapeHtml(store.name) + '<br/><small>' + escapeHtml(store.address) + '</small></label>'
            }

            fieldset.html(html)
          }
          else
          {
            fieldset.html("<div class=\"error\"><%= j(h(Localization::Views[:stores_retrieval_failed])) %></div>")
          }

          // jQuery Mobile enhance content again
          $("div.ui-page-active .stores").trigger("create")
      }

      $("#submit-order-page").live("pageinit",function(event) {
          $("input.store-search").bind("keyup", function() {
              onLocationChanged($(this).val())
          })

          $("#submit-order-page form").submit(function() { return false })

          $("#submit-order-page input[name='confirmation']").change(function() {
              var confirmation = $(this)

              setTimeout(function() {
                  $("div.ui-page-active .id_submit").toggleClass("ui-disabled", !confirmation.prop("checked"))
              }, 10)
          })

          $("#submit-order-page .id_submit").click(function() {
              var storeId = $("div.ui-page-active input[name='store']:checked").val()
              var username = $("div.ui-page-active input[name='username']").val()
              var password = $("div.ui-page-active input[name='password']").val()
              var confirmation = $("div.ui-page-active input[name='confirmation']")

              if(!storeId || !username || !password)
              {
                  confirmation.prop("checked", false).checkboxradio("refresh")
                  alert("<%=j Localization::Views[:submission_missing_input] %>")
                  return false
              }

              if(!confirmation.prop("checked"))
              {
                  alert("<%=j Localization::Views[:submission_unconfirmed] %>")
                  return false
              }

              confirmation.prop("checked", false).checkboxradio("refresh")

              $.ajax("<%=j url_for(:action => :do_submit_order) %>",
              {
                  type: "POST",
                  data: {
                      storeId: storeId,
                      username: username,
                      password: password
                  },
                  cache: false,
                  success: function() {
                      alert("<%=j Localization::Views[:submission_succeeded] %>")
                  },
                  error: function() {
                      alert("<%=j Localization::Views[:submission_failed] %>")
                  },
                  complete: function() {
                      $.mobile.changePage("<%=j url_for(:action => :show, :query => {:id => '{current}'}) %>",
                                          {transition: "slide"})
                  }
              })
          })

          setLocation("<%=j location %>")
          onLocationChanged("<%=j location %>")
      })
  </script>
</div>